$green: #77EC92;
$dark-green: #96E0A7;
$light-green: #A8F3BA;
$black: #404040;
$grey: #CCCCCC;

h1, h2, h3, a, p {
  font-family: 'PT Sans', sans-serif;

}

html, body {
  margin: 0;
}

button {
      width: 144px;
      height: 48px;
      border-radius: 4px;
      background-color: $green;
      color: white;
      font: inherit;
      border: none;
      transition: 0.5s;
      outline: none;
    }

.hoverable {
  transition: 0.5s;
}

.hoverable:hover {
  background-color: $light-green;
}

#side-bar {
  background-color: $green;
  width: 256px;
  position: absolute;
  min-height: 100%;
  color: white;
  transition: 0.5s;

  .text-item {
    width: 232px;
    padding: 14px 12px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    float: top;
    border-bottom: $grey 1px solid;
    overflow: hidden;
  }

  .icon-link {
    width: 48px;
    height: 48px;
    float: right;
    border-bottom: $grey 1px solid;
    overflow: hidden;
  }

  .icon {
    width: 24px;
    height: 24px;
    padding: 12px;
  }

  #title-bar {
    width: 183px;
    padding: 12px;
    color: white;
    font-size: 19px;
    text-decoration: none;
    border-bottom: $grey 1px solid;
    border-right: $grey 1px solid;
    overflow: hidden;
    float: left;
  }

  #name-bar {
    overflow: hidden;
    float: left;

    #name {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 19px;
      padding: 12px;
      width: 183px;
      border-right: $grey 1px solid;
      border-bottom: $grey 1px solid;
      float: left;
    }

    #logout {
      width: 0;
      height: 24px;
      padding: 12px 0;
    }

    #logout-link {
      float: left;
      opacity: 0;
      width: 0;
      height: 48px;
    }

    #settings-link {
      float: right;
    }
  }
  #name-bar:hover {
    #name {
      width: 134px;
    }

    #logout {
      width: 24px;
      padding: 12px;
    }

    #logout-link {
      border-bottom: $grey 1px solid;
      border-right: $grey 1px solid;
      opacity: 1;
      width: 48px;
    }
  }
  #org-bar {
    width: 232px;
    padding: 12px;
    color: white;
    font-size: 19px;
    text-decoration: none;
    float: left;
    border-bottom: $grey 1px solid;
    overflow: hidden;
  }
}

.disappearable {
  opacity: 1;
  display: block;
}

#core {
  width: calc(100% - 352px);
  min-height: calc(100% - 96px);
  float: right;
  padding: 48px;
  transition: 0.5s;

  .table {
    border-collapse: collapse;
    width: 100%;
    background-color: $green;
    color: white;
    .table-row {
      height: 48px;
      width: 100%;
    }

    .table-cell {
      float: left;
      border-left: white 1px solid;
      border-top: white 1px solid;
      padding: 12px;
      height: 24px;
    }
    .img-holder {
      float: left;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .table-header {
      border-top: none;
    }

    .right {
      border-right: none;
    }

  }

  .hidden-form {
    background-color: inherit;
    color: inherit;
    font: inherit;
    border: none;
    padding: 8px 0;
    outline: none;
    max-width: 100%;
  }

  .hidden-form:focus {
    border-top: $grey 1px solid;
    border-bottom: $grey 1px solid;
    padding: 7px 0;
  }

  .org-card {
    width: 160px;
    height: 208px;
    background-color: $green;
    display: block;
    padding: 16px;
    margin: 0 16px 16px 0;
    text-decoration: none;
    border-radius: 16px;
    float: left;

    h3, p {
      font-family: 'PT Sans', sans-serif;
      color: white;
      text-decoration: none;
      margin: 0;
    }

    h3 {
      margin-bottom: 16px;
    }
  }

  #view-org {
    span {
      line-height: 2em;
    }

    .table {
      h3, p {
        margin: 0;
        height: 1em;
        vertical-align: middle;
      }

      .name {
        width: calc(100% - 123px);
      }
    }
  }

  #send {
    textarea {
      width: calc(100% - 32px);
      height: 160px;
      color: inherit;
      font: inherit;
      outline: none;
      border-radius: 4px;
      border: $grey 1px solid;
      padding: 15px;
      vertical-align: top;
      margin-bottom: 16px;
      resize: none;
    }

    p {
      margin: 0;
    }
  }

  #replies {
    .phone {
      width: 288px;
      height: 480px;
    }

    .header {
      height: 36px;
      background-color: $green;
      border-radius: 4px 4px 0 0;
      padding: 6px;

      h3 {
        color: white;
        font-size: 19px;
        margin: 6px 0;
      }
    }

    .middle {
      height: 370px;
      border-left: $grey 1px solid;
      border-right: $grey 1px solid;
      padding: 6px;

      p {
        padding: 6px;
        width: 132px;
        border-radius: 4px;
        margin: 0 0 6px 0;
        font-size: 14px;
        color: white;
      }

      .reply {
        background-color: $green;
      }

      .returned {
        background-color: $grey;
        float: right;
      }
    }

    .footer {
      height: 36px;
      background-color: $green;
      border-radius: 0 0 4px 4px;
      padding: 6px;

      input {
        outline: none;
        height: 34px;
        width: 230px;
        border: $grey 1px solid;
        border-radius: 4px;
        float: left;
        font: inherit;
      }

      p {
        margin: 0;
        font-size: 19px;
      }

      a {
        width: 36px;
        height: 36px;
        float: right;
        border-radius: 4px;
      }

      img {
        width: 24px;
        height: 24px;
        padding: 6px;
      }
    }
  }

  #groups {

    h1 {
      color: $green;
    }

    h3 {
      margin: 0;
      font-size: 19px;
      width: auto;
    }

    p {
      margin: 0;
    }

    a {
      display: block;
      text-decoration: none;
      color: inherit;
    }

    .name {
      width: 192px;
      border-left: none;
    }

    .description {
      width: calc(100% - 290px);
    }

    .people {
      text-align: center;
      width: 24px;
    }

    .settings {

    }

    .group-link {
      width: calc(100% - 49px);
      float: left;
    }

    #description {
      width: calc(100% - 339px);
    }

  }

  #new-group {

    h1 {
      font-size: 37px;
      color: $green;
      margin: 0 0 49px 0;
    }

    #form {
      background-color: $green;
      border-radius: 4px;
      padding: 48px;
      color: white;
      margin-bottom: 48px;

      p {
        margin: 0;
        width: auto;
      }

      textarea {
        width: calc(100% - 16px);
        font: inherit;
        resize: none;
        border: none;
        border-radius: 4px;
        outline: none;
        padding: 8px;
      }

      input {
        width: calc((100% - 80px) / 2);
        font: inherit;
        resize: none;
        border: none;
        border-radius: 4px;
        outline: none;
        padding: 8px;
        float: left;
      }

      .medium-input {
        height: 32px;
        margin-bottom: 48px;
      }

      .large-input {
        height: 80px;
        margin-bottom: 48px;
      }

      #date-to {
        float: left;
        width: 48px;
        height: 48px;

        h3 {
          line-height: 48px;
          text-align: center;
          margin: 0;
        }
      }

      #phones {
        margin-bottom: 0;
      }
    }
  }

}