$green: #77EC91;
$light-green: #A4F6B6;
$dark-green: #52DF71;

#title-bar {
  padding: 1em 0;
  background-color: $green;
  margin-bottom: 1em;

  h4 {
    color: white;
    margin: 0;
    user-select: none;
  }
}

#footer {
  border-top: $green 1px solid;
  padding: 1em 0;
  margin-top: 1em;

  #center {
    text-align: center;
  }

  #right {
    text-align: right;
  }
}