$blue: #77ECD4;
$green: #77EC92;
$black: #404040;
$grey: #CCCCCC;

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#core {
  width: 100%;
  min-height: 100vh;
}

form {
  background-color: $green;
  margin: 16.555vh 33.333vw;
  width: calc(33.333vw - 64px);
  min-height: calc(66.666vh - 64px);
  display: block;
  border-radius: 4px;
  padding: 32px;

  input {
    height: 48px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 4px;
  }

  button {
    height: 48px;
    width: 144px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.5s;
  }

  button:hover {
    opacity: 0.8;
  }
}