{% extends "base.html" %}

{% block title %}Send{% endblock %}

{% block content %}
    <div id="send-textarea-wrap">
        <form action="/dispatch" method="post">{% csrf_token %}
            <textarea required class="form" name="message" id="send-message"></textarea>
            <button type="button" class="form button send-buttons" onclick="emergencyDrill()">Emergency Drill</button>
            <button type="button" class="form button send-buttons" onclick="classBColors()">Class B Colors</button>
            <button type="button" class="form button send-buttons" onclick="severeWeather()">Severe Weather</button>
            <button type="button" class="form button send-buttons" onclick="campAssembly()">Camp Assembly</button>
            <button type="submit" class="form button" id="send-button">Send</button>
        </form>
    </div>
{% endblock %}