{% extends "user/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <form id="login-form" action="/users/login/post" method="post"
              class="offset-by-three column six columns">{% csrf_token %}
            <div class="offset-by-two eight columns">
                <h3>Login</h3>
                <div class="row u-full-width">
                    <label>Email</label>
                    <input class="u-full-width" type="email" name="email" placeholder="you@example.com" required>
                </div>
                <div class="row u-full-width">
                    <label>Password</label>
                    <input class="u-full-width" type="password" name="password" placeholder="••••••••" required>
                </div>
                <div class="row u-full-width">
                    <button class="six columns button-primary" type="submit" id="login-button">Login</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}